.form {
  color: #000;
  background-color: #fff;
  padding: 23px 20px;
  border-radius: 15px;
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 18px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  &__personal {
    display: none;
    @include media(1140) {
      font-size: 14px;
      line-height: 23.27px;
      display: block;
    }
  }
  &__personal > a {
    display: none;
    @include media(1140) {
      text-decoration: underline;
      color: var(--primary);
      display: block;
    }
  }
}
