html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  font-family: "asd", sans-serif;
  background-color: var(--color-white);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

// .visually-hidden {
//   @include visually-hidden;
// }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// .container {
//   margin-right: auto; /* 1 */
//   margin-left: auto; /* 1 */

//   // padding-right: 15px; /* 3 */
//   // padding-left: 15px; /* 3 */
//   // width: 100%;
//   max-width: 1440px; /* 2 */
//   width: 100%;
//   padding: 0 var(--gap-m);
//   @include media(1140) {
//     padding: 0 var(--gap);
//     max-width: 1440px; /* 2 */
//   }
// }
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
