:root {
  --primary: #0f4dec;
  --secondary: #524e4e;
  --accent: #ff6645;

  --button-primary: #2a31d7;
  --button-primary_darken: #1016a7;
  --bg-color: #e5e5e5;

  --bg-button: #fec600;
  --bg-button_darken: #e3ad00;
  --border-color: #ffffff;
  --gap-m: 15px;
  --gap: 150px;

  --question-gap-dekstop: 57px;
  --question-gap-mobile: 51px;
}
