@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "ui";
@import "accorion";
@import "header";
@import "content";
@import "footer";

body {
  background-color: var(--bg-color);
  font-family: "NotoSansRegular", sans-serif;
  font-size: 8px;
  line-height: 13.3px;
  @include media(1140) {
    font-size: 18px;
    line-height: 29.91px;
  }

  // background-image: url("../img/flk.jpg");
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  // padding-right: 15px; /* 3 */
  // padding-left: 15px; /* 3 */
  // width: 100%;

  max-width: 1440px; /* 2 */
  width: 100%;
  padding: 0 var(--gap-m);
  @include media(1140) {
    padding: 0 var(--gap);
  }
}
